<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Infolancers.iMailer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="iMailerAccessConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\GP Home\Infolancers\SVN\Utilities\iMailer\iMailer\iMailer.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
  </connectionStrings>
  <userSettings>
    <Infolancers.iMailer.Properties.Settings>
      <setting name="LinkDialogURLs" serializeAs="String">
        <value />
      </setting>5
    </Infolancers.iMailer.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="BackgroundImage" value="" />
    <add key="DatagridBackgroundImage" value="" />
    <add key="DataGridHeaderBackColor" value="Cyan" />
    <add key="DataGridHeaderForeColor" value="Black" />
    <!-- Email Setup -->
    <add key="FromEmailAddress" value="gptemp1@gmail.com" />
    <add key="FromEmailName" value="Gopal Patil" />
    <add key="FromAdminEmailAddress" value="Infolancers@test.com" />
    <add key="FromAdminEmailName" value="Infolancers" />
    <add key="EmailMessageOutput" value="Directory" />
    <!-- add key="EmailMessageOutput" value="SmtpServer"/ -->
    <add key="EmailSmtpHost" value="mail.server.com" />
    <add key="EmailSmtpPort" value="25" />
    <add key="EmailLocalHostName" value="my.localhostname.com" />
    <add key="EmailSmtpAuthentificationUserName" value="username" />
    <add key="EmailSmtpAuthentificationPassword" value="password" />
    <add key="EmailMaxFailures" value="1" />
    <add key="EmailDelayBetweenMessages" value="1000" />
    <add key="MailAddressType" value="TestAddress" />
    <!-- Event Log Setup -->
    <add key="EnableEventLog" value="True" />
    <add key="EventLogType" value="Custom" />
    <!-- add key="EventLogType" value="Windows"/ -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>